*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* треба ще ввести змінні */
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}