*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#1E252B;
    --text-inform:#FFFFFF8C;
    --list-nav:#FFFFFF8C;
    --input-text-and-icon:#FFFFFF61;
    --list-card-title:#FFFFFFC7;
    --color-subtitle-card:#FFA5378C;
    --title-color:#FFFFFFE5;
    --button-color:#FF6E30;
    --color-text-button:#FDF5FF;
    --hover-card:#28303699;
    --card-hover:#FF6E3099;
    --background-color-input:#283036;;
    --color:#FFFF;
    --name-logotype:#ffffffcc;
    --text-input:#ffffff61;
    --color-footer-list:#FFFFFFE6;
    --color-dec-element:#ffffff26;
    --name-manager:#fffdfdc7;
    --card-logotype:#2c353d33;
}
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
    background-color: #1E252B;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
/* .swiper{
    width: 1200px;
    height: 630px;
} */
.swiper-button-prev:hover{
    color: var(--button-color);
}
.swiper-button-prev{
    color: var(--color);
}
.swiper-button-next:hover{
    color: var(--button-color);
}
.swiper-button-next{
    color: var(--color);
}
.swiper-pagination-bullet-active{
    background-color: orangered;
}
.swiper-pagination-bullet{
    width: 45px;
height: 8px;
border-radius: 5px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin: 0 10px;
}
.header{
    padding-top: 30px;
}
.header-inform{
    display: flex;
    align-items: center;
}
.logo-header{
    width: 19px;
height: 20px;
margin-right: 21px;
}
.logotype{
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 260px;
color: rgba(255, 255, 255, 0.90);
}
.navigation{
    margin-right: 193px;
}
.list-navigation{
    display: flex;
}
.list-navigation>li:not(:last-child){
    margin-right: 50px;
}
.item-navigation{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--list-nav);
}
.login{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 41px;
color: var(--list-card-title);
}
.button-sign{
    padding: 12px 28px;
    border-radius: 8px;
    cursor: pointer;
background: var(--button-color);
}
.button-sign>span{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--color-text-button);
}
/* styling hero section */
.section-hero{
    padding: 120px 0 200px;
}
.hero{
    display: flex;
}
.information-hero{
    margin-right: 140px;
}
.title-hero{
width: 600px;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 140%;
margin-bottom: 30px;
color: var(--title-color); 
}
.title-hero>span{
    color: var(--button-color);
}
.text-hero{
width: 490px;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-bottom: 90px;
color: var(--list-nav);
}
.inform-input{
    position: relative;
    display: flex;
    margin-bottom: 140px;
}
.input-search{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 18px;
    top: 19px;
}
.input-hero{
    width: 497px;
height: 64px;
border-radius: 15px;
outline: none;
background: var(--background-color-input);
}
[placeholder="find more than 430+ tools..."]{
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
padding-left: 50px;
line-height: normal;
color: var(--text-input);
}
.button-search{
    width: 130px;
height: 48px;
    position: relative;
    top: 8px;
    right: 145px;
    border-radius: 8px;
    cursor: pointer;
background:var(--button-color);
}
.button-search>span{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--color);
}
.list-network{
    display: flex;
}
.item-network:not(:last-child){
    margin-right: 31px;
}
.network{
    width: 34px;
height: 34px;
cursor: pointer;
}
/* styling section popular tools */
.section-tools{
    padding-bottom: 200px;
}
.title-tools{
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
text-align: center;
margin-bottom: 25px;
color: var(--title-color);
}
.text-tools{
width: 425px;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
text-align: center;
margin: 0 auto;
margin-bottom: 90px;
color: var(--text-inform);
}
/* styling list-tools */
.list-tools{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px 25px;
    margin-bottom: 100px;
}
.list-item-tools{
padding: 35px;
}
.list-item-tools:hover{
    border-radius: 15px;
background: var(--hover-card);
backdrop-filter: blur(25px);
transform: translateY(-10%);
}
.list-item-tools:hover .button-visit{
    border-radius: 8px;
    padding: 9px 35px;
background: var(--button-color);
color: var(--color);

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.card-tools{
display: flex;
}
.tools{
    width: 64px;
    height: 64px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.name-tools{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--list-card-title);
    }
.subtitle-tools{
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: var(--color-subtitle-card);
}
.inf-text-tools{
    width: 326px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 40px;
color: var(--text-inform);
}
.icon-visit{
    display: flex;
    align-items: center;
}
.list-icon-tools{
    display: flex;
    margin-right: 165px;
}
.icon-tools:not(:last-child){
    margin-right: 25px;
}
.icon{
    width: 28px;
height: 28px;
fill: var(--color);
}
.button-visit{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--text-inform);
}
.button-load{
    display: block;
    margin: 0 auto;
    padding: 17px 38px;
    cursor: pointer;
    border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: var(--background-color);
}
.button-load>span{
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--button-color);
}
/* styling section logotype */
.name-card{
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-bottom: 58px;
color: var(--name-logotype);
}
.card-logotype{
    border-radius: 25px;
    background:  var(--card-logotype);
    backdrop-filter: blur(25px);
    padding: 57px 0px;
}
.list-logotype{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item-logotype:not(:last-child){
    margin-right: 107px;
}
/* styling section newcomer */
.section-newcomer{
    padding: 220px 0px;
}
.newcomer-information{
    display: flex;
}
.information-newcomer-tools{
    margin-right: 200px;
}
.title-information-newcomer{
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%;
margin-bottom: 30px;
color: var(--title-color);
}
.text-information-newcomer{
    width: 425px;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
margin-bottom: 60px;
color: var(--list-nav);
}
.button-explore{
    cursor: pointer;
    border-radius: 8px;
    padding: 16px 40px;
background: var(--button-color);
}
.button-explore>span{
    color: var(--color);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.list-newcomer-tools{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 24px;
}
.list-item-new-tools{
    padding: 30px 50px 32px 23px;
}
.list-item-new-tools:hover{
    border-radius: 15px;
background: var(--hover-card);
backdrop-filter: blur(25px);
transform: translateY(-8%);
padding: 29px 21px 28px 30px;

}
.list-item-new-tools:hover .button-visit{
    border-radius: 8px;
    padding: 9px 35px;
background: var(--button-color);
color: var(--color);

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.newcomer-card{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.icon-newcomer{
width: 64px;
height: 64px;
margin-right: 34px;
}
.name{
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 3px;
color: var(--list-card-title);
}
.text-newcomer{
width: 245px;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
margin-bottom: 38px;
color: var(--list-nav);
}
.card-tools{
    margin-right: 84px;
}
/* stuling section manager */
.information-manager{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-chevron{
    position: absolute;
    z-index: 100px;
    width: 48px;
height: 48px;
cursor: pointer;
}
.button-left{
    margin-right: 125px;
}
.card{
    position: relative;
    left: 150px;
    bottom: 125px;

    width: 275px;
    padding: 10px 23px 16px;
    border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: var(--card-logotype);
backdrop-filter: blur(25px);
}
.name-manager{
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.39px;
    margin-bottom: 3px;
    color: var(--name-manager);
}
.position{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: var(--text-inform);
}
.text-information-manager::before{
    content: "";
    display: block;
    width: 200px;
    height: 95px;
    position: absolute;
    top: -50px;
    left: -50px;
    background-image: url(./img-antools/comma.png);
    background-repeat: no-repeat;
}
.text-information-manager{
    position: relative;
width: 400px;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
letter-spacing: 0.21px;
margin-left: 65px;
padding-bottom: 120px;
color: var(--list-card-title);
}
.button-right{
    margin-left: 125px;
}
.div-group{
    display: flex;
    justify-content: center;
}
.group-icon{
    width: 168px;
height: 8px;
}
.section-become-contr{
    padding: 240px 0px;
}
.container-form{
    text-align: center;
}
.title-contributor{
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%;
text-align: center;
margin-bottom: 25px;
color: var(--title-color);
}
.text-information{
    width: 427px;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
text-align: center;
margin: 0 auto;
margin-bottom: 100px;
color: var(--list-nav);
}
.input-email{
    border-radius: 15px;
    outline: none;
    margin-left: 150px;
background: var(--background-color-input);
}
[placeholder="Enter your email..."]{
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 22px 360px 22px 24px;
color: var(--text-input);
}
.button-join{
    position: relative;
    right: 11.5%;
    border-radius: 8px;
    padding: 12px 35px;
    cursor: pointer;
    background-color: var(--button-color);
}
.button-join>span{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--color);
}
/* styling footer */
.footer::before{
content: "";
display: block;
width: 100%;
height: 0.5px;
background: var(--color-dec-element);
}
.container-footer{
    display: flex;
    padding: 70px 0px 100px;
}
.column-footer{
    margin-right: 170px;
}
.list-footer:not(:last-child){
    margin-right: 170px;
}
.logo-name{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.logotype-footer{
    width: 38px;
    height: 38px;
    margin-right: 12px;
}
.name-footer{
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--title-color);
}
.text-copyright{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
    color: var(--title-color);
}
.text-footer{
    width: 250px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: var(--list-nav);
}
.list-title{
    margin-bottom: 20px;
}
.list-item-inform:not(:last-child){
    margin-bottom: 10px;
}
.title-list{
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--color-footer-list);
}
.list-information{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--list-nav);
}