*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#1E252B;
    --text-inform:#FFFFFF8C;
    --list-nav:#FFFFFF8C;
    --input-text-and-icon:#FFFFFF61;
    --background-color-input:#FFFFFF1A, #FFFFFF00;
    --list-card-title:#FFFFFFC7;
    --color-subtitle-card:#FFA5378C;
    --title-color:#FFFFFFE5;
    --button-color:#FF6E30;
    --hover-card:#28303699;
    --card-hover:#FF6E3099;
}
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}