:root{
    --background-color:#1E252B;
    --text-inform:#FFFFFF8C;
    --list-nav:#FFFFFF8C;
    --input-text-and-icon:#FFFFFF61;
    --list-card-title:#FFFFFFC7;
    --color-subtitle-card:#FFA5378C;
    --title-color:#FFFFFFE5;
    --button-color:#FF6E30;
    --color-text-button:#FDF5FF;
    --hover-card:#28303699;
    --card-hover:#FF6E3099;
    --background-color-input:#283036;;
    --color:#FFFF;
    --name-logotype:#ffffffcc;
    --text-input:#ffffff61;
    --color-footer-list:#FFFFFFE6;
    --color-dec-element:#ffffff26;
    --name-manager:#fffdfdc7;
    --card-logotype:#2c353d33;
    --hover-color-like-icon:red;
    --color-button-swiper:orangered;
    --background-color-menu:gray;
    --dropdown-item-color:black;
}